@import '../../../variables.less';
.slq--button {
  box-sizing: border-box;
  min-height: @--button-size-default;
  padding: 1px 20px;
  color: @--button-text-color;
  border-radius: 4px;
  cursor: pointer;
}

.slq--button--type--default {
  background-color: @--white;
  border: 1px solid @--grey;
  &:hover {
    color: @--theme-primary;
    background-color: @--button-default;
    border-color: rgba(@--theme-primary, 0.3);
  }
}

.slq--button--type--default.is--plain {
  background-color: @--white;
  &:hover {
    border-color: @--theme-primary;
  }
}
.slq--button--type--default.is--plain.is--disabled--default,
.slq--button--type--default.is--disabled--default {
  background-color: @--white;
  cursor: not-allowed;
  opacity: 0.5;
  &:hover {
    color: @--button-text-color;
    border-color: @--grey;
    opacity: 0.5;
  }
}

.slq-button-type(@type) {
  .slq--button--type--@{type} {
    color: @--white;
    background-color: ~'@{--button-@{type}}';
    border: 1px solid ~'@{--button-@{type}}';
    &:hover {
      background-color: rgba(color(~'@{--button-@{type}}'), 0.8);
      border-color: rgba(color(~'@{--button-@{type}}'), 0.8);
    }
    &:active {
      color: @--white;
      background-color: ~'@{--button-@{type}}';
      border-color: ~'@{--button-@{type}}';
    }
  }
}
.slq-button-plain(@type) {
  .slq--button--@{type}.is--plain {
    color: ~'@{--button-@{type}}';
    background-color: rgba(color(~'@{--button-@{type}}'), 0.2);
    border-color: rgba(color(~'@{--button-@{type}}'), 0.8);
    &:hover {
      color: @--white;
      background-color: rgba(color(~'@{--button-@{type}}'), 0.9);
      border-color: rgba(color(~'@{--button-@{type}}'), 0.9);
    }
    &:active,
    &:visited {
      background-color: ~'@{--button-@{type}}';
      border-color: ~'@{--button-@{type}}';
    }
  }
}

.slq-button-disabled(@type) {
  .slq--button--@{type}.is--disabled--@{type} {
    background-color: ~'@{--button-@{type}}';
    border: 1px solid ~'@{--button-@{type}}';
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background-color: ~'@{--button-@{type}}';
      border-color: ~'@{--button-@{type}}';
      opacity: 0.5;
    }
  }

  .slq--button--@{type}.is--plain.is--disabled--@{type} {
    color: ~'@{--button-@{type}}';
    background-color: rgba(color(~'@{--button-@{type}}'), 0.2);
    border-color: rgba(color(~'@{--button-@{type}}'), 0.8);
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background-color: rgba(color(~'@{--button-@{type}}'), 0.2);
      border-color: rgba(color(~'@{--button-@{type}}'), 0.8);
      opacity: 0.5;
    }
  }
}

.slq-button-type(primary);
.slq-button-plain(primary);
.slq-button-disabled(primary);

.slq-button-type(success);
.slq-button-plain(success);
.slq-button-disabled(success);

.slq-button-type(info);
.slq-button-plain(info);
.slq-button-disabled(info);

.slq-button-type(warning);
.slq-button-plain(warning);
.slq-button-disabled(warning);

.slq-button-type(danger);
.slq-button-plain(danger);
.slq-button-disabled(danger);

.slq-button-size(@type) {
  .slq--button.slq--button--size--@{type} {
    min-height: ~'@{--button-size-@{type}}';
  }
}
.slq-button-size(medium);
.slq-button-size(small);
.slq-button-size(mini);

.is--round {
  border-radius: @--button-border-radius-round;
}

.slq--button--text {
  color: @--theme-primary;
  background: transparent;
  border-color: transparent;
  &:hover {
    color: rgba(color(@--theme-primary), 0.8);
    background: transparent;
    border-color: transparent;
  }
}
.slq--button--text.is--disabled--text {
  color: @--grey;
  cursor: not-allowed;
  opacity: 0.5;
}
