.slq-default-button {
  box-sizing: border-box;
  min-height: 40px;
  padding: 1px 20px;
  border: none;
  border-radius: 4px;
  &:hover {
    background-color: #ecf5ff;
    border: 1px solid #c6e2ff;
  }
}
.slq-primary {
  background: #409eff;
  &:hover {
    color: #fff;
    background-color: #66b1ff;
    border: 1px solid #66b1ff;
  }
}
.slq-success {
  background: #67c23a;
}
.slq-info {
  background: #909399;
}
.slq-warning {
  background: #e6a23c;
}
.slq-danger {
  background: #f56c6c;
}
